body {
    font-family: "Courier New";
    background: #333;
    color: lawngreen;
}

input {
    background:#333;
    color:lawngreen;
    border: lawngreen 1px solid;
    height: 24px;
}

button {
    border:double lawngreen 3px;
    background: #333;
    color: lawngreen;
    height:28px;
}

table {
    text-align: center;
    border: double lawngreen 3px;
    border-spacing: 0;
    border-collapse: separate;
}

td,th {
    padding:0.5em;
}

th {
    border-bottom: double lawngreen 3px;
}

td {
    border-right: solid lawngreen 1px;
    border-bottom: solid lawngreen 1px;
}

td:last-child {
    border-right: none;
}

a {
    color: lawngreen;
}

a:visited {
    color: lawngreen;
}

.categoryitem {
    margin: 1em;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    green;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    green;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    green;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    green;
}

.modifiertoggle {
    border: solid lawngreen 1px;
    height: 1rem;
    width: 1rem;
    text-align: center;
    text-decoration: none;
    display:inline-block;

}